<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="text-center mt-4 mb-4">
    Movies
  </h1>

  <%= link_to(
    'New Movie',
    new_movie_path,
    class: 'btn btn-outline-primary mt-4 mb-4'
  ) %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th colspan="3">Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <th scope="row"><%= movie.id %></th>

          <th scope="row"><%= movie.title %></th>

          <td>
            <%= link_to(
              'Show',
              movie,
              class: 'btn btn-sm btn-outline-info'
            ) %>
          </td>

          <td>
            <%= link_to(
              'Edit',
              edit_movie_path(movie),
              class: 'btn btn-sm btn-outline-success'
            ) %>
          </td>

          <td>
            <%= link_to(
              'Delete',
              movie,
              method: :delete,
              data: { confirm: 'Are you sure?' },
              class: 'btn btn-sm btn-outline-danger'
            ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
