<%= "<%# app/views/#{plural_table_name}/edit.html.erb %>" %>

<div class="container pb-5 mb-5">
  <%= "<%= render(
    'resource_nav',
    resource: @#{singular_table_name},
    index_path: #{plural_table_name}_path,
    edit_path: edit_#{singular_table_name}_path(@#{singular_table_name})
  ) %>" %>

  <h1 class="text-center mt-4 mb-4">
    Editing <%= singular_table_name.gsub('_', ' ').capitalize %>
  </h1>

  <div class="row justify-content-center">
    <div class="col-12 col-sm-10">
      <%%= render 'form', <%= singular_table_name %>: @<%= singular_table_name %> %>
    </div>
  </div>
</div>
