<% if namespaced? -%>
<%= "<!-- app/views/#{plural_table_name.sub('_', '/')}/show.html.erb -->" %>
<% else -%>
<%= "<!-- app/views/#{plural_table_name}/show.html.erb -->" %>
<% end -%>

<div class="container pb-5">
  <div class="row justify-content-start">
    <div class="col-4 mt-4 mb-4">
      <%= "<%= link_to 'Edit', edit_#{singular_table_name}_path(@#{singular_table_name}), class: 'btn btn-sm btn-outline-success' %%>" %> |
      <%= "<%= link_to 'Back to List', #{plural_table_name}_path, class: 'btn btn-secondary' %%>" %>
    </div>
  </div>

  <div class="row justify-content-center mt-4 mb-4">
    <h1><%= singular_table_name.gsub('_', ' ').capitalize %> <%%= @<%= singular_table_name %>.id %></h1>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">
          <strong>FIELD</strong>
        </th>
        <th scope="col">
          <strong>VALUE</strong>
        </th>
      </tr>
    </thead>

    <tbody>

    <%% @<%= singular_table_name %>.attributes.each do |key, value| %>
      <tr>
        <td><%%= key.upcase %></td>
        <td><%%= value %></td>
      </tr>
    <%% end %>

    </tbody>
  </table>
</div>
